# Folder / files
*.gb
*.gb.state
*.chkpt
*.ram
*.zip
*.csv
test.py
test.ipynb
.vscode/
data/

# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpoints

# Mac os
.DS_Store 